@media (max-width: 520px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
  .divider {
    width: 80%;
  }

  .card {
    max-width: 54rem;
  }
  .card p {
    height: 15rem;
    max-width: 45rem;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 3500px) {
  html {
    font-size: 18px;
  }
}